/* Minha folha de estilo */
:root {
    --fn-red : #da0404;
    --fn-font: 20px;
    --fn-black: #000;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

@font-face {
    font-family: pepper;
    src: url(../fonts/pepper-sauce.ttf);
}

html {
    font-family: 'Roboto Mono', monospace;
    font-size: var(--fn-font);
}

.container {
    width: 90%;
    margin: auto;
}

.main-nav {
    background-color: #ffffff;
    box-shadow: 1px 1px 5px;
}

.main-nav div.menu {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.main-nav div.logo-tipo a {
    color: var(--fn-black);
    display: block;
    padding: 10px 0;
    text-decoration: none;
    font-family: pepper;
    font-size: 1.5rem;
}

.main-nav ul.servicos {
    display: flex;
    list-style-type: none;
}

.main-nav ul.servicos > li {
    padding: 15px 0;
    margin-left: 15px;
}

.main-nav ul.servicos > li > a {
    text-decoration: none ;
    display: block;
    color: #999;
    font-size: 1rem;
}

.main-nav ul.servicos > li > a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #6b6b6b;
} 

/* Fim do menu de navegação */


.btn {
    display: block;
    font-weight: bold;
    line-height: 0.5rem;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    background-color: #0300b9;
    padding: 0.3rem 0.3rem;
    border-radius: 2rem;
    box-shadow: 1px 1px 4px;
    border: transparent;
}


/*
header div {
    text-align: justify;
    text-decoration: underline; 
    text-transform: uppercase;
    line-height: 30px;
    width: 50%;
    word-wrap: break-word;
    height: 100px;
    overflow: auto;
    border: 1px solid #000; 
    border-left: double 2px #ff0000;
    border: 5px solid #0000ff;
    border-radius: 10px 50px 30px 80px;
    margin: 50px auto;
    box-shadow: 10px 10px 5px #29cd10, 10px 10px 5px #ff0000;
    text-shadow: 1px 1px 1px #ff0000;
    background: linear-gradient(to right, #0000ff, #e60f90, #c9f11a);
    background: #54ff05 url(../img/paris.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 300px 200px;
}

header div:last-child {
    border: 30px solid #ff0000;
    color: #ffffff;
    padding-left: 50px;
    padding-top: 50px;
    width: 300px;
    padding: 10px 20px 30px 40px;
    padding: 10px 50px;
    margin-left: 20px;
    margin-top: 50px;
    margin: 10px 20px 30px 40px;
    margin: 10px 20px;
}
*/

